/* Space out content a bit */
body {
  margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; padding: 0;
  font-size:18pt;
}

@media only screen and (max-device-width: 480px) {
  body {-webkit-text-size-adjust: 150%;}
  img{
    min-width:16%;
    height:auto;
  }
}


p {
  line-height: 27pt;
}

h4 {
  line-height: 33pt;
}

.text-muted {
    color: #777777;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */

.jumbotron h1 {
  color: #ffffff;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 200px;
}

.jumbotron p {
  color: #ffffff;
}


/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-left: 15px;
  padding-bottom: 0px;
}

h4 {
  font-size:150%;
}

.header h5 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0px;
  padding-left: 15px;
  padding-bottom: 20px;
}

/* Custom page footer */
.footer {
  padding-left: 21px;
  padding-top: 19px;
  color: #777;
}

/* Customize container */
@media (min-width: 650px) {
  .container {
    max-width: 1000px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
